<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="/static/styles.css" rel="stylesheet"> 

        <!-- bootstrap -->
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
        <link href="/static/css/flatly.bootstrap.min.css" rel="stylesheet"> 

        <script src="/static/js/dropzone.js"></script>
        <link href="/static/js/dropzone.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">

            <div class="jumbotron">
  <h1>Add article (PDF)</h1>

  <form action="/article/new" class="dropzone"></form>
</div>

<div class="jumbotron">
  <h1>Supervisors</h1>
  <p>You can update your profile and add projects ideas here</p>
  <p><a href="/login/supervisor" class="btn btn-primary btn-lg">Continue</a></p>
</div>
        </div>

    </body>
</html>

